body {
  margin: 0px;
  background-color: #161616;
  color: white;
  min-width: 675px;
  font-family: monospace;
  font-weight: lighter;
}

.main {
  padding: 2.5vh 10vw;
  font-size: 2vw;
  display: grid;
  justify-items: center;
  gap: 3.841vw;
}

titre {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-decoration-color: #ffc107;
}

a {
  color: #ffc107;
}

.Legend {
  padding: 0vh 2.5vw;
}

ol {
  padding: 0px;
}

ol > li > a {
  text-decoration: none;
  font-weight: bold;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

ol > li > a:hover {
  text-decoration: underline dashed;
  opacity: 1;
}

.Paragraph {
  border-style: solid;
  border-width: 0.217vw;
  border-radius: 1.172vw;
  border-color: #ffc107;
  padding: 5vh 2.5vw;
  min-width: 500px;
}

.scroll-btn {
  background-color: #ffc107;
  padding: 1vh 1vw;
  border-radius: 0.391vw;
  transition: transform 0.5s ease;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.scroll-btn:hover {
  transform: scale(1.05);
}

.pages > a {
  text-decoration: none;
  color: #ffc107;
}

footer {
  height: 15vh;
  width: 100%;
  background-color: #0f0f0f;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.help-nav {
  padding: 0% 2.5% 2.5% 0%;
  font-size: 150%;
  font-weight: 900;
}

.links {
  background-color: #ffc107;
  height: 40vh;
  width: 30vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 2vw;
}

.links a {
  color: #0f0f0f;
  text-decoration: none;
  font-weight: bold;
}
